/* GENERAL */
body {
    margin: 0 auto;
    width: 1000px;
    background-color: rgb(213, 206, 192);
}

html {
    background-image: linear-gradient(rgb(78, 89, 113), rgb(8, 17, 61));

}

/* HEADER */
.main-image {
    width: 1000px;
}

header, h1, h3 {
    text-align: center;
}

h3 {
    margin-bottom: 40px;
}

.main-title {
    margin: 0;
    padding-top: 21px;
}

.subtitle {
    margin-top: 0;
}

/* RESERVATION */
.reservations {
    display: flex;
    justify-content: center;
}

.waiting, .existing {
    width: 50%;
    margin: 0 auto;
}

.waiting {
    padding-right: 25px;
}

.existing {
    padding-left: 25px;
}

form {
    width: 100%;
}

div.form {
    display: flex;
    height: 50px;
}

label {
    flex-direction: column;
    justify-content: left;
    width: 10%;
    margin: auto;
    padding: 8px 10px;
    margin: 8px;
}

input {
    flex-direction: column;
    justify-content: right;
    width: 90%;
    padding: 8px 10px;
    border: 2px solid #D7D7D7;
    margin: 8px;
    font-size: 14px;
}

#button {
    width: 100%;
    align-items: center;
    background-color: rgb(63, 122, 185);
    color: rgb(213, 206, 192);
    border: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, td, th {
    padding: 8px 10px;
    border: 2px solid #D7D7D7;
}

td {
    width: 50%;
}